* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 1.6rem;
}

h1 {
  font-size: 6rem;
}

.app {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}
.app::before {
  content: "";
  background: url("./assets/sunset.jpg") no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}
.app .search {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 1rem;
  gap: 20px;
}

.app input {
  color: white;
  padding: 0.7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.1);
}

.app .date input {
  font-size: 0.8rem;
  padding: 0.5rem;
  font-weight: 300;
}
.app h5 {
  font-size: 0.7rem;
  font-weight: 400;
}

::placeholder {
  color: rgba(white, white, white, 0.2);
}

.container {
  max-width: 1000px;
  height: 800px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app .top {
  width: 100%;
  margin: 1rem auto;
}

.app .top .location {
  display: flex;
  justify-content: center;
}

.app .location h2 {
  font-size: 1.2rem;
  font-weight: 500;
}
.app .location h3 {
  font-size: 0.9rem;
  font-weight: 200;
}

.app .top .temp {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 20px;
}
.app .temp h2 {
  font-size: 30px;
  font-weight: 400;
}

.app .top img {
  position: relative;
}

.app .description {
  position: relative;
}

.app .bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.2);
  gap: 20px;
}

.bottom p {
  font-size: 1.4rem;
}

.bold {
  font-weight: 700;
}

.sun .box {
  margin: 1rem auto;
  border: 3px solid white;
  padding: 1rem;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.2);
}

.grid-wrap {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 0 auto;
}

.card {
  display: grid;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 0.5em;
  transition: 0.3s;
  padding: 0.5em 0.5em;
  grid-template-rows: 50px 100px;
}
.grid-wrap h1 {
  font-size: 1.1rem;
}

.grid-wrap p {
  font-size: 1rem;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

.card-head {
  background-color: #42a5f5;
  border-radius: 5px;
  text-align: center;
}

.card-body {
  text-align: center;
  margin-bottom: 2em;
}

@media (max-width: 1030px) {
  .bottom p {
    font-size: 1rem;
  }
  .grid-wrap {
    grid-template-columns: repeat(5, 1fr);
  }
  .grid-wrap h1 {
    font-size: 0.9rem;
  }
  .grid-wrap p {
    font-size: 0.8rem;
  }
}

@media (max-width: 550px) {
  .bottom p {
    font-size: 0.7rem;
  }
  .grid-wrap {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid-wrap h1 {
    font-size: 0.7rem;
  }
  .grid-wrap p {
    font-size: 0.6rem;
  }
}
